<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>wowkool.com</display-name>
	<filter>
		<filter-name>adapter</filter-name>
		<filter-class>com.eapollo.Adapter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adapter</filter-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>/shop/*</url-pattern>
		<url-pattern>/item/*</url-pattern>
		<url-pattern>/cate/*</url-pattern>
		<url-pattern>/res/*</url-pattern>
		<url-pattern>/cdn/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>jsp</servlet-name>
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>xpoweredBy</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
		<init-param>
			<param-name>trimSpaces</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>keepgenerated</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>mappedfile</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>/captcha.png</url-pattern>
		<url-pattern>/protect.png</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.html</location>
	</error-page>
</web-app>